{{FrontSide}}
<br>

<div class="hiragana"> {{Furigana}} </div>
<div class="text"> {{Meaning}} </div>
<div class="usage text"> {{Usage}} </div>


<div class="Example">
	<div class="ex-kanji">{{Example 1 Kanji}}</div>
	<div class="ex-hiragana">{{Example 1 Furigana}}</div>
	<div class="ex-english">{{Example 1 English}}</div>
</div>


<div class="Example">
	<div class="ex-kanji">{{Example 2 Kanji}}</div>
	<div class="ex-hiragana">{{Example 2 Furigana}}</div>
	<div class="ex-english">{{Example 2 English}}</div>
</div>


<div class="Example">
	<div class="ex-kanji">{{Example 3 Kanji}}</div>
	<div class="ex-hiragana">{{Example 3 Furigana}}</div>
	<div class="ex-english">{{Example 3 English}}</div>
</div>