.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
}

@font-face {
  font-family: "Hiragino Kaku Gothic Pro W3";
  src: url("_hirakakyprow3.otf");
}

.Example {
	margin: 30px;
}

.Example div {
	margin: 2px 0px ;
}

.Example p {
	padding: 0px;
	margin: 0px;
}

.Example span {
	color: red;
}

.text {
  font-family: "Ubuntu Light", "HelveticaNeueLT Std Lt";
 font-style: "italics";
}

.grammar {
 font-family: "Hiragino Kaku Gothic Pro W3";
 font-size:80px;
 color: white;
 background-color:#e20096;
}

.usage {
	margin: 20px auto 20px auto;
}


.usage table {
	padding: 10px;
 background-color: #e9e9e9;
}

.usage td {
	border: 0.5px solid;
 padding: 0px 20px;
}

.quest{
 background: #e9e9e9;
 color: #555;
 line-height: 40px;
}

.hiragana {
  font-family: "Hiragino Kaku Gothic Pro W3";
 font-size: 25 px;
}